body {
	font-family: "Roboto", sans-serif;
	color: #434455;
	background-color: #ffffff;
	text-decoration: none;
	font-style: normal;
	}
h1,
h2,
h3,
h4,
h5,
h6,
 p {
	margin: 0;
	}
ul,
ol {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}
a {
	text-decoration: none;
	display: block;
}
ul {
	list-style-type: none;
}
img {
	overflow: hidden;
	display: block;
	max-width: 100%;
	height: auto;
}
section {
	padding-top: 96px;
	padding-bottom: 96px;
	}
	@media (min-width: 1158px) {
		section {
		padding-top: 120px;
	padding-bottom: 1206px;
		}
	}
	input {
		font-family: inherit;
	}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.hidden {
	display: none;
}
.container {
	max-width: 320px;
	margin: 0 auto;
	padding: 0 16px;
}
@media (min-width: 768px){
	.container {
		min-width: 768px;
	}
}
@media (min-width: 1158px){
	.container {
		min-width: 1158px;
		padding: 0 15px;
	}
}
/* HEADER */
 .caption {
	border-bottom: 1px solid #e7e9fc;
	box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
	                     0px 1px 1px rgba(46, 47, 66, 0.16), 
						 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.caption .container {
	display: flex;
	}
	.nav-logo-nav {
		display: flex;
		align-items: center;
	}
	.logo {
		font-family: "Raleway", sans-serif;
		font-size: 18px;
		font-weight: 700;
		line-height: 1.17;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		margin-right: 76px;
		display: inline-block;
		position: relative;
		color: #404bbf;
	}
	.logo span {
		color: #2e2f42;
	}
	 nav .link {
		font-weight: 500;
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 0.02em;
		color: #2e2f42;
		font-weight: 500;
		align-items: center;
	}
	nav .link:hover {
		color: #404bbf;
	}
	nav .link:focus {
		color: #404bbf;
	} 
	.btn-menu {
		margin-left: 149px;
	}
	.page-nav {
		display: flex;
		gap: 40px;
		
	}
	.page-nav-list:hover::after {
	  content: "";
	  width: 100%;
	  height: 4px;
	  background: #404BBF;
	  position: absolute;
	  left: 0;
	  bottom: -1px; 
	  background-color: #404bbf;
	  border-radius: 2px; 
	}
	.link {
		padding: 24px 0;
	}
	.link-current{
		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}
	nav .current {
		color: #404BBF;
		position: relative;
		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
		}
	.current::after {
		display: block;
		content:"";
		border-radius: 2px;
	width: 48px;
	height: 4px;
	background-color: #404bbf;
	position: absolute;
	left: 0;
	bottom: -1px;
	}
	.address {
		display: flex;
		font-style: normal;
		align-items: center;
		}
	.page-address {
		display: flex;
		gap: 40px;
		align-items: center;
		padding-left: 332px;
	}
	
	.link-address {
		display: flex;
		line-height: 24px;
		letter-spacing: 0.02em;
		color: #434455;
		height: 20px;
		font-size: 16px;
		font-weight: 400;
		text-align: left;
		}
	.link-address-item {
		color: #434455;
		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
	}
	
	.link-address:hover {
		color: #404bbf;
	}
	.link-address:focus {
		color: #404bbf;
	}
	.icon {
		fill: none;
		width: 64px;
		height: 64px;
		}
	@media (max-width:768px) {
		.page-nav, .address {
         display: none;
		 
		}
		/* .container {
			margin: 0 auto;
			padding: 16px; */
	} 
	@media screen and (min-width:768px) and (max-width:1158px) {
		.page-address {
			padding-left: 122px;
			gap: 12px;
			flex-direction: column;
		}
		.address{
			display: inline-flex;
			
		}
		
		}
/* SECTION Three */


/* <!-- FOOTER Section --> */

.basement {
	background-color: #2e2f42;
		padding: 96px 0;
}
.basement .container {
	/* max-width: 320px; */
	/* display:flex; */
	align-items: baseline;
	justify-content: center;
	}
	.footer-logo {
		display:flex;
		flex-direction: column;
		max-width: 320px;
       /* align-items: center; */
       gap: 16px;
       /* margin-bottom: 72px; */
	}
	.logo-footer {
		font-family: "Raleway", sans-serif;
		font-size: 18px;
		font-weight: 700;
		line-height: 1.17;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		display: inline-block;
		margin-bottom: 16px;
		color: #f4f4fd;
	}
	.logo-footer-link {
		width: 116px;
		height: 24px;
		font-weight: 700;
        font-size: 18px;
         line-height: 1.16667;
         letter-spacing: 0.03em;
         text-transform: uppercase;
         color: #4d5ae5;
    	}
	.text-footer {
		font-family: Roboto;
		font-size: 16px;
		font-weight: 400;
		line-height: 1.5;
		color:#f4f4fd;;
		letter-spacing: 0.02em;
		max-width: 264px;
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.footer-paragraph{
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 0.02em;
		color: #FFFFFF ;
		/* margin-bottom: 16px; */
		margin-top: 0px;
		font-weight: 500;
		}
		.nav-logo-nav .logo {
			display: flex;
		}
		.footer-list {
			width: 264px;
			height: 112px;
		}
		.net-footer {
			display: flex;
			gap: 16px;
			/* justify-content: center;  */
		}
		.icon-net-footer {
			fill: #f4f4fd;
		}
		.circle-footer {
			width: 40px;
			height: 40px;
				}
		.link-circle-footer {
			display: flex;
			width: 100%;
			height: 100%;
			background-color:#4d5ae5;
			border-radius: 50%;
			padding: 12px;
			align-items: center; 
			justify-content: center; 
			transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
		}
		.footer-net {
			display: flex;
			flex-direction: column;
			gap:16px;
			max-width: 320px;
			/* align-items: center; */
			
		}
		 .basement .link-circle:hover {
			background-color:#31d0aa;
		}
		.basement .link-circle:focus {
			background-color: #31d0aa;
		}
         .circle-footer {
	        gap: 16px;
            }
        .footer-form-container {
	/* margin-left: 80px; */
	display: flex;
	flex-direction: column;
			gap:16px 24px;
			max-width: 320px;
			/* align-items: center; */
			/* margin-bottom: 72px; */
}
.text-subscribe{
	/* margin-bottom: 16px;  */
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #ffffff;
}
.feedback {
	display: inline-flex;
	/* flex-direction: column; */
	gap: 24px;
	justify-content: center;
}
.input-footer {
	border: 1px solid #FFFFFF;
border-radius: 4px;
width: 264px;
height: 40px;
background-color: transparent; 
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
padding-left: 16px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
color: #ffffff; 

}
.input-footer ::placeholder {
	color: #ffffff; 
}
.btn-footer {
	display: flex;
	min-width: 165px ;
	height: 40px;
	justify-content: center;
	align-items: center; 
	font-family: "Roboto", sans-serif ;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: #ffffff ;
	cursor: pointer;
	background-color: #4d5ae5;
	border: none;
	border-radius: 4px;
	gap: 16px;
}
@media (max-width:768px){
	.footer-logo {
			align-items: center;
			margin-bottom: 72px;
		}
		.footer-net {
			align-items: center;
			margin-bottom: 72px;
			
		}
		.net-footer {
			justify-content: center; 
		}
		.footer-form-container {
					align-items: baseline;
					}
	    	.feedback {
				display: flex;
				flex-direction: column;
				gap: 16px;
					}
}
@media (min-width:768px) {
	.container{
		display: flex;
		flex-wrap: wrap;
		gap: 72px 24px;
	}
	.input-footer{
		width:264px;
	}
}
@media screen and (min-width:768px) and (max-width:1158px) {
	
	header .container{
		max-width: 564px;	
		flex-wrap: nowrap;
		}
		.container{
	max-width: 564px;	
	/* flex-wrap: nowrap; */
	}
	.footer-form-container {
		max-width: 564px;
		align-items: flex-start;
	}
	.btn-menu {
		display: none;
}
}
@media (min-width:1158px)  {
	 .container{
		flex-wrap: nowrap;
		gap: 0px;
	 }
     .footer-logo{
	    margin-right:120px ;
     }
     .footer-net{
	   margin-right:80px ;
     }
     .footer-form-container {
	   max-width: 564px;
	    align-items: flex-start;
       }
	   .btn-menu {
		display: none;
}
}



